body {
    margin: 0;
    padding: 0;

    div.nav {
        background-color: #20a0ff;

        > div.container {
            height: 80px;
            display: flex;
            align-items: center;

            > img {
                vertical-align: middle;
            }

            > div.fill {
                flex: 1;
            }

            > ul.el-menu {
                background-color: transparent;
                border-bottom: 1px solid transparent;

                > li {
                    overflow: hidden;

                    > i {
                        display: none;
                    }
                }
            }
        }
    }

    div.container {
        width: 1140px;
        margin: 0 auto;
    }
}
