@inherits LayoutComponentBase

<BPopup></BPopup>
<BLayout WestWidth="300">
    <West>
        <BMenu Collapse="false">
            <BMenuItem>
                <BDropDown Style="text-align:right;">
                    <Trigger>
                        <span class="el-dropdown-link">
                            版本  <i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                    </Trigger>
                    <Items>
                        <BDropDownItem>0.0.6.2</BDropDownItem>
                        <BDropDownItem>0.0.6.1</BDropDownItem>
                    </Items>
                </BDropDown>
            </BMenuItem>
            <BSubMenu Label="开发指南">
                <BMenuItem>快速上手</BMenuItem>
            </BSubMenu>
            <BSubMenu Label="基础组件">
                <BMenuItem>Button 按钮</BMenuItem>
                <BMenuItem>Radio 单选框</BMenuItem>
            </BSubMenu>
        </BMenu>
    </West>
    <North>
        <div class="nav">
            <div class="container">
                <img src="images/logo.svg" width="146" height="38" />
                <div class="fill"></div>
                <BMenu BackgroundColor="transparent" Mode="MenuMode.Horizontal" HoverColor="" TextColor="#fff">
                    <BMenuItem Route="/">组件</BMenuItem>
                    <BMenuItem Route="demos">案例</BMenuItem>
                    <BMenuItem>
                        <BDropDown Style="display:flex;">
                            <Trigger>
                                <span class="el-dropdown-link" style="vertical-align:auto;color:#fff;">
                                    Blazui  <i class="el-icon-arrow-down el-icon--right" style="color:#fff;"></i>
                                </span>
                            </Trigger>
                            <Items>
                                <BDropDownItem>Blazui</BDropDownItem>
                                <BDropDownItem>BlazAdmin</BDropDownItem>
                                <BDropDownItem>Blazui.Markdown</BDropDownItem>
                            </Items>
                        </BDropDown>
                    </BMenuItem>
                </BMenu>
            </div>
        </div>
    </North>
    <Center>
        <BMarkdown></BMarkdown>
    </Center>
</BLayout>