@inherits MainLayoutBase
<BPopup></BPopup>
<BLayout WestWidth="382" @ref="layout">
    @*<North>
        <div class="nav">
            <div class="container">
                <img src="images/logo.svg" width="146" height="38" />
                <div class="fill"></div>
                <BMenu BackgroundColor="transparent" Mode="MenuMode.Horizontal" HoverColor="" TextColor="#fff">
                    <BMenuItem Route="/">组件</BMenuItem>
                    <BMenuItem Route="demos">案例</BMenuItem>
                    <BMenuItem>
                        <BDropDown Style="display:flex;" @ref="productDropDown">
                            <Trigger>
                                <span class="el-dropdown-link" style="vertical-align:auto;color:#fff;">
                                    @Product?.NugetPackageName  <i class="el-icon-arrow-down el-icon--right" style="color:#fff;"></i>
                                </span>
                            </Trigger>
                            <Items>
                                @foreach (var product in Products)
                                {
                                    <BDropDownItem>@product.NugetPackageName</BDropDownItem>
                                }
                            </Items>
                        </BDropDown>
                    </BMenuItem>
                </BMenu>
            </div>
        </div>
    </North>*@

    <Center>
        <div style="padding:20px;margin-right:100px;">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
    </Center>
    @*<West>
        <BMenu CanCollapse="false" Match="MatchMenu">
            <BMenuItem>
                <BDropDown Style="text-align:right;" EnableAlwaysRender="true">
                    <Trigger>
                        <span class="el-dropdown-link">
                            版本 @Version?.Version  <i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                    </Trigger>
                    <Items>
                        @foreach (var version in Versions)
                        {
                            <BDropDownItem>@version.Version</BDropDownItem>
                        }
                    </Items>
                </BDropDown>
            </BMenuItem>
            <BSubMenu Label="开发指南">
                <BMenuItem Route="@($"/{Product?.NugetPackageName}")">介绍</BMenuItem>
                <BMenuItem Route="@($"/{Product?.NugetPackageName}/{Version?.Version}/quickstart")">快速上手</BMenuItem>
            </BSubMenu>
            <BSubMenu Label="基础组件">
                <BMenuItem>Button 按钮</BMenuItem>
                <BMenuItem>Radio 单选框</BMenuItem>
            </BSubMenu>
        </BMenu>
    </West>*@
</BLayout>